<br>
<div class="">
  <h1>Fighters</h1>
  <% if current_user && current_user.admin? %>
    <%= link_to 'New Fighter', new_fighter_path %>
  <% end %>

  <div class="">
    <div class="mx-2 d-flex flex-wrap justify-content-center margin-auto text-black">
      <% @fighters.each do |fighter| %>
        <%= render 'fighter', fighter: fighter %>
      <% end %>
    </div>
  </div>

  <table class="table table-dark table-responsive table-striped table-hover text-white">
    <thead>
      <tr>
        <th>Name</th>
        <th>Age</th>
        <th>Weight</th>
        <th>Professional Record</th>
        <th>City of Origin</th>
        <th>Club</th>
        <th colspan="3"></th>
      </tr>
    </thead>
    <tbody>
      <% @fighters.each do |fighter| %>
        <tr>
          <td><%= link_to fighter.name, fighter, class: "nav-link" %></td>
          <td><%= fighter.age %></td>
          <td><%= fighter.weight %></td>
          <td><%= fighter.professional_record %></td>
          <td><%= fighter.city_of_origin %></td>
          <td><%= fighter.club %></td>
          <% if current_user && current_user.admin? %>
            <td><%= link_to 'Edit', edit_fighter_path(fighter), class: 'btn btn-primary btn-sm' %></td>
            <td><%= link_to 'Destroy', fighter, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-sm' %></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
  <br>
</div>