<h1>Fighter Details</h1>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8 col-lg-6">
      <div class="card shadow mb-4">
        <div class="card-body">
          <h3 class="card-title mb-4 text-black"><%= @fighter.name %></h3>
          <ul class="list-group">
            <li class="list-group-item">
              <span class="fw-bold me-2">Age:</span> <%= @fighter.age %>
            </li>
            <li class="list-group-item">
              <span class="fw-bold me-2">Weight:</span> <%= @fighter.weight %>
            </li>
            <li class="list-group-item">
              <span class="fw-bold me-2">Professional Record:</span> <%= @fighter.professional_record %>
            </li>
            <li class="list-group-item">
              <span class="fw-bold me-2">City of Origin:</span> <%= @fighter.city_of_origin %>
            </li>
            <li class="list-group-item">
              <span class="fw-bold me-2">Club:</span> <%= @fighter.club %>
            </li>
            <li class="list-group-item">
              <span class="fw-bold me-2">Events and opponents:</span>

              <% fights = @fighter.fights %>
              <% event_titles = @fighter.event_titles %>
              <% opponents = @fighter.opponents %>

              <% fights.each_with_index do |fight, index| %>
                <div>
                  On <%= link_to fights[index].event.title, event_path(fights[index].event) %> has fight VS <%= link_to opponents[index].name, fighter_path(opponents[index]) %>
                </div>
              <% end %>
              
            </li>
          </ul>
          <%= link_to "Edit", edit_fighter_path, class: "btn btn-warning mt-4" %>
          <%= link_to "Back", :back, class: "btn btn-success mt-4" %>
          <%= link_to "All Fighters", fighters_path, class: "btn btn-primary mt-4" %>
        </div>
      </div>
    </div>
  </div>
</div>
