<div class="container">
  <h1><%= t "articles_list" %></h1>

  <% if current_user.admin? %>
    <%= link_to "New Article", new_article_path, class:"red" %>
  <% end %>

  <% @articles.each do |article| %>
    <div class="article">
      <h2><%= link_to article.title, article_path(article), class:"red"  %></h2>
      <p><%= article.description.truncate(200) %><%= link_to "Read more", article_path(article), class:"gotham-link"  %></p>
    </div>

    <% if article.photos.count != 0 %>
      <div id="carouselExampleControls" class="carousel slide art-index-carousel" data-bs-ride="carousel">
        <div class="carousel-inner">
          <% article.photos.each_with_index do |photo, index| %>
            <div class="carousel-item <%= 'active' if index == 0 %>">
              <%= image_tag photo.photo.url, class:"carousel-photo-for-art-index" %>
            </div>
          <% end %>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    <% end %>

    <hr class="my-4">
  <% end %>
</div>