<h1><%= @article.title %></h1>
<p><%= @article.description %></p>
<p><%= "By #{@article.user.name}" %></p>
<%= link_to "Edit", edit_article_path(@article) %>
<%= link_to "Delete", article_path(@article), method: :delete, data: { confirm: "Are you sure?" } %>
