<br>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <p class="breadcrumb">
        <%= link_to I18n.t("articles_list"), blog_path, class:"text-red fs-3" %> 
        <i class="fa fa-angle-right align-self-center mx-2 fs-3"></i>
      </p>
      <span class="article-title"><%= @article.title %></span>
      <br>
      <% if @article.photos.count != 0 %>
        <%= render partial: 'carousel' %>
      <% end %>

      <div class="article-description-block mt-4 bg-dark-opacity text-justify">
        <%= simple_format (@article.description) %>
      </div>

      <% if policy(Article).edit? %>
        <hr>

        <div class="article-photo-form mt-4">
          <%= render partial: 'photos/form', locals: {photo: @new_photo || @article.photos.build} %>
        </div>

        <div class="mt-3">
          <%= link_to "Edit", edit_article_path(@article), class: "btn btn-warning" %>
          <%= link_to "Delete", article_path(@article), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger ml-2" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
