<!-- app/views/events/_fight_fields.html.erb -->
<!--
<div class="fight">
  <%= f.hidden_field :id %>
  <div>
    <%= f.label :fighter1_id, "Fighter 1" %>
    <%= f.collection_select :fighter1_id, @fighters, :id, :name, { prompt: "Select a fighter" }, { required: true } %>
  </div>
  <div>
    <%= f.label :fighter2_id, "Fighter 2" %>
    <%= f.collection_select :fighter2_id, @fighters, :id, :name, { prompt: "Select a fighter" }, { required: true } %>
  </div>
  <div>
    <%= f.label :weight_class, "Weight Class" %>
    <%= f.text_field :weight_class %>
  </div>
  <div>
    <%= f.label :finished, "Finished?" %>
    <%= f.check_box :finished %>
  </div>
  <%= f.label :_destroy, "Remove Fight" %>
  <%= f.check_box :_destroy %>
</div>
-->