<div class="card bg-dark">
  <div class="card-body text-white">
    <h1 class="card-title"><%= @event.title %></h1>
    <p class="card-text">
      <strong>Location:</strong> 
      <a href="https://www.google.com/maps/search/?api=1&query=<%= URI.encode_www_form_component(@event.location) %>" target="_blank" title="View on Google Maps"><%= @event.location %></a>
    </p>
    <p class="card-text"><strong>Date:</strong> <%= @event.date %></p>
    <br>
    <div class="row">
      <div class="col-md-12">
        <h3>Fights</h3>
        <% @event.fights.includes(fight_participants: :fighter).each_with_index do |fight, index| %>
          <br>
          <h4>
            <%= link_to "Fight ##{index+1}", fight_path(fight), title:"View fight details" %>
          </h4>
          <%= link_to Fighter.find(fight.fighter1_id).name, fighter_path, title:"View fighter details" %> vs <%= link_to Fighter.find(fight.fighter2_id).name, fighter_path, title:"View fighter details" %>
          <hr>
        <% end %>
      </div>
    </div>

    <div class="my-4">
      <% if @event.event_photos.count != 0 %>
        <%= render partial: 'carousel' %>
      <% end %>
    </div>

    <div class="event-photo-form">
      <%= render partial: 'event_photos/form', locals: {event_photo: @new_event_photo || @event.event_photos.build} %>
    </div>

    <div class="mt-4">
      <%= link_to 'Edit', edit_event_path(@event), class: "btn btn-primary" %> |
      <%= link_to 'Back', events_path, class: "btn btn-secondary" %>
    </div>
  </div>
</div>