<!--
<div class="container bg-white py-4">
  <div class="d-flex justify-content-between flex-wrap mb-4">
    <div class="col-lg-4 col-md-12 shop-block">
      <%= link_to image_tag("gloves.jpg", class: "img-fluid"), "https://ufcstore.com/collections/shop-all-fighters/products/mens-ufc-alex-pereira-poatan-t-shirt-black", target: "_blank" %>
    </div>
    <div class="col-lg-4 col-md-12 shop-block">
      <%= link_to image_tag("shirt.jpg", class: "img-fluid"), "https://ufcstore.com/collections/shop-all-fighters/products/mens-ufc-alex-pereira-poatan-t-shirt-black", target: "_blank" %>
    </div>
    <div class="col-lg-4 col-md-12 shop-block">
      <%= link_to image_tag("cap.jpg", class: "img-fluid"), "https://ufcstore.com/collections/shop-all-fighters/products/mens-ufc-alex-pereira-poatan-t-shirt-black", target: "_blank" %>
    </div>
  </div>
</div>
-->
<div class="container bg-white py-4 slide-up">
  <div class="d-flex justify-content-between flex-wrap mb-4">
    <div class="col-lg-4 col-md-12 shop-block">
      <%= link_to image_tag("gloves.jpg", class: "img-fluid"), "https://ufcstore.com/collections/shop-all-fighters/products/mens-ufc-alex-pereira-poatan-t-shirt-black", target: "_blank" %>
      <div class="product-info position-absolute text-center bottom-0 start-50 translate-middle-x text-white p-3">
        <p>Fighting gloves $39.99</p>
      </div>
    </div>
    <div class="col-lg-4 col-md-12 shop-block">
      <%= link_to image_tag("shirt.jpg", class: "img-fluid"), "https://ufcstore.com/collections/shop-all-fighters/products/mens-ufc-alex-pereira-poatan-t-shirt-black", target: "_blank" %>
      <div class="product-info position-absolute text-center bottom-0 start-50 translate-middle-x text-white p-3">
        <p>Mens Shirt $24.99</p>
      </div>
    </div>
    <div class="col-lg-4 col-md-12 shop-block">
      <%= link_to image_tag("cap.jpg", class: "img-fluid"), "https://ufcstore.com/collections/shop-all-fighters/products/mens-ufc-alex-pereira-poatan-t-shirt-black", target: "_blank" %>
      <div class="product-info position-absolute text-center bottom-0 start-50 translate-middle-x text-white p-3">
        <p>Brand cap $29.99</p>
      </div>
    </div>
  </div>
</div>
