<div class="container mt-4">

  <div class="row d-flex flex-column flex-md-row slide-up">
    <div class="col-12 col-md-8">
      <h1 class="hero-title"><%= t "unleash" %></h1>

      <p>Join Gotham Promotion and become a part of our mission to support and promote combat sports. We provide opportunities for anyone who aspires to become a professional fighter, and we offer resources and training for coaches and teams to improve their skills and strategies. At Gotham Promotion, we believe in fostering a positive and supportive community for all martial arts enthusiasts. So, come and join us in taking combat sports to the next level!</p>
      <div class="join-us">
        <a href="mailto:drminingco@gmail.com" target="_blank" title="Email Us" class="btn btn-lg btn-danger join-us-btn">JOIN GOTHAM NOW</a>
      </div>
    </div>
    <div class="col-12 col-md-4 bg-dark">
      <%= image_tag "cage1.jpg", class:"announcement-pic" %>
    </div>
  </div>

  <br>

  <p id="shop" class="mt-4 slide-up"><%= link_to "Merchandizing", shop_path, class:"red", target: "_blank" %>
    <i class="fa fa-angle-right mx-2"></i> Gotham's Best Choice
  </p>
  <br>

  <%= render "shop_block" %>

  <br>

  <p class="mt-4 slide-up"><%= link_to I18n.t("videos_list"), videos_path, class:"red" %> <i class="fa fa-angle-right mx-2"></i> <%= t "fresh_videos" %></p>
  <%= render "videos_block" %>

  <%= render "articles/last_article" if @last_article %>
</div>
