<!DOCTYPE html>
<html>
  <head>
    <title>Gotham</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Alumni+Sans:wght@500&display=swap" rel="stylesheet">
    <link href="https://fonts.cdnfonts.com/css/headline-text" rel="stylesheet">
  </head>

  <body>
    <%= render "layouts/navigation" %>
    <div class="content">
      <br>
      <%= yield %>
      <br>

      <br>
        <div>
          <br>
        </div>
      <br>
    </div>
    <script>
      document.addEventListener("DOMContentLoaded", () => {
        let addFightButton = document.getElementById("add-fight");
        let fightsWrapper = document.getElementById("fights-wrapper");
        let newFightTemplate = document.getElementById("new-fight-template");

        addFightButton.addEventListener("click", (e) => {
          e.preventDefault();

          let newIndex = new Date().getTime();
          let newFightFields = newFightTemplate.innerHTML.replace(/new_fight/g, newIndex);

          fightsWrapper.insertAdjacentHTML("beforeend", newFightFields);
        });
      });

      document.addEventListener("DOMContentLoaded", function() {
        // Получаем элементы заголовка и скрытого текста
        var heading = document.querySelector(".heading");
        var hiddenText = document.querySelector(".hidden-text");

        // Добавляем обработчик события клика на заголовке
        heading.addEventListener("click", function() {
          // Переключаем класс `hidden` у скрытого текста
              hiddenText.classList.toggle("hidden");

        });
      });
      function parallax() {
        var section = document.querySelector('.parallax-section');
        var y = window.pageYOffset;
        var height = section.offsetHeight;
        if (y < height) {
          section.style.backgroundPosition = '0% ' + (10 + y/4) + '%';
        }
      }

      window.addEventListener('scroll', parallax);

    </script>
  </body>
</html>
