<!DOCTYPE html>
<html>
  <head>
    <title>Gotham</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Alumni+Sans:wght@500&display=swap" rel="stylesheet">
    <link href="https://fonts.cdnfonts.com/css/headline-text" rel="stylesheet">
  </head>

  <body>
    <% if action_name != "under_construction" %>
      <%= render "layouts/navigation" %>
    <% end %>

    <button onclick="topFunction()" id="myBtn" title="Go to top"><i class="fa fa-arrow-up"></i></button>

    <% if action_name == "main" %>
      <div class="parallax-section">
        <div class="hero-section" data-parallax="scroll" data-speed="1">
          <div class="hero-image"></div>
        </div>
      </div>
    <% end %>

    <div class="container">
      <%= content_tag :div, flash[:alert], class: "text-center fs-3 bg-danger" if flash[:alert] %>
      <%= yield %>

    <script>
      // document.addEventListener("DOMContentLoaded", () => {
      //   // let addFightButton = document.getElementById("add-fight");
      //   let fightsWrapper = document.getElementById("fights-wrapper");
      //   let newFightTemplate = document.getElementById("new-fight-template");

      //   addFightButton.addEventListener("click", (e) => {
      //     e.preventDefault();

      //     let newIndex = new Date().getTime();
      //     let newFightFields = newFightTemplate.innerHTML.replace(/new_fight/g, newIndex);

      //     fightsWrapper.insertAdjacentHTML("beforeend", newFightFields);
      //   });
      // });

      // document.addEventListener("DOMContentLoaded", function() {
      //   // Получаем элементы заголовка и скрытого текста
      //   var heading = document.querySelector(".heading");
      //   var hiddenText = document.querySelector(".hidden-text");

      //   // Добавляем обработчик события клика на заголовке
      //   heading.addEventListener("click", function() {
      //     // Переключаем класс `hidden` у скрытого текста
      //         hiddenText.classList.toggle("hidden");

      //   });
      // });
      function throttle(func, wait) {
        var lastFunc, lastRan;
        return function() {
          var context = this;
          var args = arguments;
          if (!lastRan) {
            func.apply(context, args);
            lastRan = Date.now();
          } else {
            clearTimeout(lastFunc);
            lastFunc = setTimeout(function() {
              if ((Date.now() - lastRan) >= wait) {
                func.apply(context, args);
                lastRan = Date.now();
              }
            }, wait - (Date.now() - lastRan));
          }
        }
      }

      function parallax() {
        var section = document.querySelector('.parallax-section');
        if (!section) return;
        var y = window.pageYOffset;
        var height = section.offsetHeight;
        if (y < height) {
          section.style.backgroundPosition = '0% ' + (10 + y/6) + '%';
        }
      }

      if (!('ontouchstart' in window || navigator.msMaxTouchPoints) && window.innerWidth > 768) {
        window.addEventListener('scroll', throttle(parallax, 20));
      }

      document.addEventListener("DOMContentLoaded", () => {
        const observer = new IntersectionObserver((entries) => {
          entries.forEach((entry) => {
            if (entry.isIntersecting) {
              entry.target.classList.add("active");
            } else {
              entry.target.classList.remove("active");
            }
          });
        });

        document.querySelectorAll(".slide-up").forEach((element) => {
          observer.observe(element);
        });
      });

      let mybutton = document.getElementById("myBtn");

      // When the user scrolls down 20px from the top of the document, show the button
      window.onscroll = function() {scrollFunction()};

      function scrollFunction() {
        if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
          mybutton.style.display = "block";
        } else {
          mybutton.style.display = "none";
        }
      }

      // When the user clicks on the button, scroll to the top of the document
      function topFunction() {
        document.body.scrollTop = 0; // For Safari
        document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
      } 
    </script>
  </body>
</html>
